{% extends 'base.html' %}

{% block content %}
  <h1> this is network page </h1>
  <!-- <button type="button" class="btn btn-secondary btn-lg" action="check_network">check connectivity</button> -->
  <a class="btn btn-primary" href="/check_network" role="button">check network</a>
    <button class="btn btn-primary" type="submit">link</button>
    <input class="btn btn-primary" type="button" value="Input">
    <input class="btn btn-primary" type="submit" value="Submit">
    <input class="btn btn-primary" type="reset" value="Reset">
  

{% endblock %}